<div class="login-container">
    <h2>Login</h2>
    
    <form (ngSubmit)="fazerLogin()">
      <label for="usuario">Usuário:</label>
      <input type="text" id="usuario" [(ngModel)]="usuario" required [ngModelOptions]="{standalone: true}" />
  
      <label for="senha">Senha:</label>
      <input type="password" id="senha" [(ngModel)]="senha" required [ngModelOptions]="{standalone: true}"/>
  
      <button type="submit">Entrar</button>
    </form>
  
    <p *ngIf="mensagemErro" class="erro">{{ mensagemErro }}</p>
  </div>